# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor/OS-specific files
.DS_Store
.vscode/

# Build artifacts and packaging
build/
dist/
*.egg-info/
